sudo: required

language: java

jdk: openjdk8

services:
  - docker

env:
  - NXF_VER=0.23.0

install:
  - docker pull maxulysse/mycv:v0.16.1221
  - curl -fsSL get.nextflow.io | bash

script:
  - ./nextflow run . -with-docker -profile docker
