/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * -------------------------------------------------
 * Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 */

manifest {
  description = 'myCV + compiler'
  homePage = 'https://github.com/MaxUlysse/myCV'
}

params {
  repository = 'maxulysse'
  tag = '1.0'
}

docker {
  enabled = true
  fixOwnership = true
}

process.container = "${params.repository}/mycv:${params.tag}"
