/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * -------------------------------------------------
 * Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 */

manifest {
  homePage = 'https://github.com/MaxUlysse/myCV'
  description = 'myCV + compiler'
}

params {
  help = ''
  version = ''
  pictures = "pictures"
  theme = ''
  tex = [
    // 'myAltaCVen.tex',
    'myModernCVen.tex'
    ]
  sideTex = 'sidebar*.tex'
  biblio = 'biblio.bib'
}

profiles {
  docker {
    includeConfig 'conf/docker.config'
  }
  singularity {
    includeConfig 'conf/singularity.config'
  }
}
