/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * -------------------------------------------------
 * Nextflow config file
 * -------------------------------------------------
 * Config options for docker.
 */

docker {
  enabled = true
  fixOwnership = true
}

process.container = 'maxulysse/mycv:0.17.0523'
