/*
vim: syntax=groovy
-*- mode: groovy;-*-
 * -------------------------------------------------
 * Nextflow config file
 * -------------------------------------------------
 * Config options for singularity.
 */

singularity {
  enabled = true
}

process.container = 'docker://maxulysse/mycv:0.17.0920'
